#p_img_wrapper {
    width: 40%;
    height: 350px;
    float: right;
    text-align: center;
}

#p_prop {
    height: 350px;
}

#p_cm_input_form {
    width: 90%;
    height: 90px;
    border-radius: 10px;
}

#p_cms_wrapper {
    /*text-align: center;*/
    padding-right: 10px;
    padding-left: 60px;
}

#p_details {
    padding: 70px 50px;
    direction: rtl;
}

#compose_p_cm {
    padding-left: 50px;
    padding-right: 90px;
}

#purchase_form_wrapper {
    text-align: center;
    height: 25%;
}

#p_cm {

}

#p_cms {
    /*height: 300px;*/
}

#p_image {
    width: 80%;
    height: auto;
    border-radius: 5%;
    padding: 50px 20px 20px;
}

#p_info {
    height: 75%;
}

.p_prop_elements {
    display: block;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    /*font-family: "B Nazanin";*/
    margin: 8px 0 20px;
}

label {
    /*font-family: "B Nazanin";*/
    font-size: larger;
}

input[type=submit] {
    /*font-family: "B Nazanin";*/
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

#submit-purchase-btn {
    width: 20%;
    display: block;
    float: left;
    /*font-family: "B Nazanin";*/
}

#purchase_part_hdr {
    direction: rtl;
    font-size: x-large;
    padding-right: 50px;
    padding-top: 20px
}

#comments_part_hdr {
    direction: rtl;
    font-size: x-large;
    padding-right: 50px;
    padding-top: 20px
}

.rating > span:hover:before {
    content: "\2605";
    position: absolute;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.15, #94A14E),
            color-stop(0.15, #C5C5C5)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
}