<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../OOD/static/home.js"></script>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>home page</title>

</head>
<body style="background-image:url('../../OOD/media/background.jpg'); padding: 20px">
<div id="header">
    <form>
        <input type="text" name="search" placeholder="Search..">
    </form>
</div>
<div id="body">
    <div id="body1">

        <div class="product">
            <div class="p_logo_div">
                <img class="p_logo" src="../../OOD/media/product.jpg">
            </div>
            <div class="p_price">
                <div class="p_price_elements">2000R</div>

                <div class="p_price_elements"><a href="" id="purchase_link">Purchase</a></div>
            </div>
        </div>

        <div class="product">
            <div class="p_logo_div">
                <img class="p_logo" src="../../OOD/media/product.jpg">
            </div>
            <div class="p_price">
                <div class="p_price_elements">2000R</div>

                <div class="p_price_elements"><a href="" id="purchase_link">Purchase</a></div>
            </div>
        </div>
        <div class="product">
            <div class="p_logo_div">
                <img class="p_logo" src="../../OOD/media/product.jpg">
            </div>
            <div class="p_price">
                <div class="p_price_elements">2000R</div>

                <div class="p_price_elements"><a href="" id="purchase_link">Purchase</a></div>
            </div>
        </div>
        <div class="product">
            <div class="p_logo_div">
                <img class="p_logo" src="../../OOD/media/product.jpg">
            </div>
            <div class="p_price">
                <div class="p_price_elements">2000R</div>

                <div class="p_price_elements"><a href="" id="purchase_link">Purchase</a></div>
            </div>
        </div>
        <div class="product">
            <div class="p_logo_div">
                <img class="p_logo" src="../../OOD/media/product.jpg">
            </div>
            <div class="p_price">
                <div class="p_price_elements">2000R</div>

                <div class="p_price_elements"><a href="" id="purchase_link">Purchase</a></div>
            </div>
        </div>
        <div class="product">
            <div class="p_logo_div">
                <img class="p_logo" src="../../OOD/media/product.jpg">
            </div>
            <div class="p_price">
                <div class="p_price_elements">2000R</div>

                <div class="p_price_elements"><a href="" id="purchase_link">Purchase</a></div>
            </div>
        </div>


    </div>
</div>
</body>
</html>