{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{% static "jquery/jquery-1.10.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/home1.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <meta charset="UTF-8">
    <title>Home Page</title>

</head>
<body style="background-image:url('{% static "media/background.jpg" %}');padding: 20px">
<div id="header">
    <form id="product_search" action="/home" method="get">
        {% csrf_token %}
        <input id="search_input" type="text" name="product_search" placeholder="Search...">
        <input type="submit" style="display: inline-block"
               onclick="product_search_func(document.getElementById('search_input').valueOf())">
    </form>
</div>
<div id="body">
    <div id="body1">
        {% if product_search_result %}
            {% for p in product_search_result %}
                <div class="product">
                    <div class="p_logo_div">
                        <img class="p_logo" src="../static/media/product.jpg">
                    </div>
                    <div class="p_price">
                        <div class="p_price_elements">{{ p.name }}</div>
                        <div class="p_price_elements">{{ p.price }}</div>
                        <div class="p_price_elements"><a href="/products/{{ p.id }}" id="purchase_link">سفارش کالا</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% for p in products %}
                <div class="product">
                    <div class="p_logo_div">
                        <img class="p_logo" src="../static/media/product.jpg">
                    </div>
                    <div class="p_price">
                        <div class="p_price_elements">{{ p.name }}</div>
                        <div class="p_price_elements">{{ p.price }}</div>
                        <div class="p_price_elements"><a href="/products/{{ p.id }}" id="purchase_link">سفارش کالا</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}


    </div>
</div>
</body>
</html>