#body1 {
    /*background-color: aqua;*/
}

.p_logo {
    height: 100px;
    width: 80px;
    padding: 5px;
}

.p_price {
    /*background-color: blue;*/
    text-align: center;
}

.product {
    height: 170px;
    width: 10%;
    border: 20px;
    padding: 10px;
    display: inline-grid;
    margin: 5px;
    background-color: darkgrey;
    border-radius: 10px;
}

.p_logo_div {
    /*background-color: red;*/
    text-align: center;
}

.p_purchase {
    text-align: center;
    /*background-color: green;*/
}

#header {
    /*background-color: beige;*/
    height: 50px;
}

#purchase_link {
    text-decoration: none;
}

a {
    color: black;
}

.p_price_elements {
    padding: 5px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background: white url('../../OOD/media/searchicon.png') no-repeat 10px 10px;
    background-size: 20px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 80%;
}