{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="product.css">
    <script type="text/javascript" src="product.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body style="background-image: url('../static/media/background.jpg')">
<div>
    <div id="p_img">
        <div id="p_img_wrapper">
            <div><img id="p_image" src="../static/media/product.jpg"></div>
        </div>
    </div>
    <div id="p_prop">
        <div id="p_info" class="p_prop_elements">
            <div id="p_details">
                2000R<br>
                Made in China
            </div>
        </div>
        <div id="purchase_form_wrapper" class="p_prop_elements">
            <div>
                <button id="p_order" class="btn btn-success"
                        onclick="document.getElementById('purchase_part').style.display='block';
                        document.getElementById('p_order').style.display='none'"
                        style="width:auto;">
                    سفارش محصول
                </button>
            </div>
        </div>
    </div>

    <div id="purchase_part" style="display: none">
        <hr>
        <p style="direction: rtl"><b4>سفارش محصول</b4></p>

        <form id="purchase_form" action="" method="post">
            <div class="container" style="direction: rtl">
                <label><b>نام سفارش دهنده</b></label>
                <input type="text" placeholder="نام" name="name" required>

                <label><b>آدرس گیرنده</b></label>
                <input type="text" placeholder="آدرس" name="address" required>

                <label style="padding: 15px 15px 15px 0;"><b>تاریخ دریافت سفارش</b></label>
                <input type="date" name="date" required>

                <button class="btn btn-success" type="submit" onclick="get_selected_product_id()">ثبت نهایی سفارش</button>
            </div>
        </form>
    </div>

    <hr>

    <div id="p_cms_wrapper">
        <div id="compose_p_cm">
            <form method="post" action="">
                <input id="p_cm_input_form" type="text" name="new_comment"
                       placeholder="comment..."> </input>
                <input type="submit" value="Submit" class="btn btn-success"> </input>
            </form>
        </div>
        <div id="p_cms">
            {#            {% for c in comments %}#}
            <div>
                <div id="p_cm">
                    <p> {{ c.content }}</p>
                </div>
            </div>
            {#            {% endfor %}#}

        </div>
    </div>
    <hr>


</div>
</body>
</html>