{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href={% static "css/product.css" %}>
    <link rel="stylesheet" href={% static "bower_components/five-star-rating/css/rating.min.css" %}>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src={% static "js/product.js" %}></script>
    <script type="text/javascript" src={% static "bower_components/five-star-rating/js/dist/rating.min.js" %}></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body style="background-image: url('../static/media/background.jpg');font-family: 'B Nazanin'">
<div>
    <div id="p_img">
        <div id="p_img_wrapper">
            <div><img id="p_image" src="../static/media/product.jpg"></div>
        </div>
    </div>
    <div id="p_prop">
        <div id="p_info" class="p_prop_elements">
            <div id="p_details">

            </div>
        </div>
        <div id="purchase_form_wrapper" class="p_prop_elements">
            <div>
                <button id="p_order" class="btn btn-success"
                        onclick="on_product_order()"
                        style="width:auto;">
                    سفارش محصول
                </button>
            </div>
        </div>
    </div>

    <div id="purchase_part" style="display: none;border-top: 5px double gray; border-bottom: 5px double gray">
        <p id="purchase_part_hdr">
            <b4>سفارش محصول</b4>
        </p>
        <p id="p_id" style="display: none">id</p>
        <p id="comment_url" style="display: none">{% url 'comment' %}</p>
        <p id="csrf" style="display: none">{% csrf_token %}</p>
        <p id="rate_url" style="display: none">{% url 'rates' %}</p>

        <form id="purchase_form" action={% url 'buy' id %} method="post">
            {% csrf_token %}
            <div class="container" style="direction: rtl;padding-left: 43px">
                <label><b>نام سفارش دهنده</b></label>
                <input type="text" placeholder="نام" name="name" required>

                <label><b>آدرس گیرنده</b></label>
                <input type="text" placeholder="آدرس" name="address" required>

                <label style="padding: 15px 15px 15px 0;"><b>تاریخ دریافت سفارش</b></label>
                <input type="date" name="date" style="display: block;border-radius: 5px" required>

                <button id="submit-purchase-btn" class="btn btn-success" type="submit">ثبت نهایی سفارش
                </button>
            </div>
        </form>
    </div>

    <div id="p_cms_wrapper">
        <p id="comments_part_hdr">
            <b4>نظرات کاربران</b4>
        </p>
        <div id="compose_p_cm">
            <div>
                <input type="submit" value="ثبت نظر" class="btn btn-success" onclick="send_comment()"> </input>
                <input id="p_cm_input_form" type="text" name="new_comment"
                       placeholder="نظر خود را وارد کنید..." style="direction: rtl"> </input>
            </div>
        </div>
        <div id="p_cms">
            {% for c in comments %}
                <div>
                    <div id="p_cm">
                        <p> {{ c.content }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <div id="rating_part" style="direction: rtl;padding-right: 102px;">
        <div>
            <input type="range" min="1" max="5" value="3" style="width: 150px;display: inline-block"
                   onchange="update_rate_input(this.value);">
            <p id="rate_input" style="margin: 20px; display: inline-block"></p>
            <input type="submit" value="ثبت امتیاز" class="btn btn-success" onclick="send_rate()"> </input>

        </div>
    </div>
    <hr>


</div>
</body>
</html>